@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
}

html {
  font-family: 'Poppins', sans-serif !important;
  max-width: 1440px;
  width: 100%;
  clear: both;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  position: relative;
}

.pColor {
  color: #9932cc !important;
}

/* .bColor-light {
  background-color: #d5c7dd4f;
} */

.bColor {
  background-color: #9932cc !important;
}

.bColor-2 {
  background-color: #9932cc !important;
}

.btn-outline-purp {
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 50px 10px 50px 50px;
}

.btn-outline-purp:hover {
  color: #ffffff;
  background-color: #bd57f0;
}

.btn-purp {
  color: #ffffff;
  background-color: #9932cc;
  border-radius: 50px 10px 50px 50px;
  padding: 10px 20px;
}

.bPurp {
  background-color: #6183e6;
}

.btn-purp:hover {
  color: #ffffff;
  background-color: #6183e6;
}

.navbar-brand {
  color: #ffffff !important;
  font-weight: 500;
}

.navbar-brand:hover {
  color: #beccf5 !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto !important;
}

.bg-light {
  background-color: #9932cc !important;
}

.btnMargin {
  margin-left: 20px;
}

.nav-item {
  margin: 0 5px;
}

.nav-link {
  font-weight: 400 !important;
  color: #ffffff !important;
}

.nav-link:hover {
  color: #000000 !important;
}

@media (max-width: 992px) {
  .btnMargin {
    margin-left: 0;
    margin-top: 10px;
  }

  div.carousel-item .img-mobile {
    height: 180px !important;
  }

  .carousel-item img {
    height: 300px !important;
  }

  .phase2 {
    padding: 50px 0;
    box-sizing: border-box;
  }

  .phase2-content {
    position: block !important;
    position: relative !important;
    box-sizing: border-box;
    padding-left: 50px;
    margin: 5px 0 !important;
  }

  .sphase2 {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .rHand {
    margin-top: 80px !important;
  }
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}

/* hero section */

.hero {
  margin-top: 100px;
  position: relative;
}

.hero-img {
  border-radius: 84% 86% 86% 84% / 27% 44% 76% 53%;
}

.lHand {
  position: relative;
}

.rHand {
  border-radius: 84% 86% 86% 84% / 27% 44% 76% 83%;
  background-image: linear-gradient(
    to right top,
    #709ee2,
    #6183e6,
    #7371e4,
    #9567eb,
    #b14ee2
  );
}

.lHand h1 {
  font-size: 60px;
  color: #9932cc;
  font-weight: 600;
  letter-spacing: 1px;
}

svg {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  filter: blur(2px);
}

/* second phase */

.carousel-caption {
  color: #9932cc !important;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-item img {
  height: 300px;
}

/* loading */

.loading {
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 10001;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navbar */

.navbar-toggler:focus {
  outline: 0;
  box-shadow: 0;
}

.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler:focus {
  outline: 0;
  box-shadow: 0;
}

.navbar-light .navbar-toggler:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.carol {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center;
}

.cta {
  display: flex !important;
  align-items: center !important;
  align-content: center;
  box-sizing: border-box;
}

.play:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play {
  padding: 5px;
  border-radius: 50px;
}

.playbtn {
  width: 40px;
  height: 40px;
}

.link,
.under {
  position: relative;
}

.link::after,
.under::after {
  width: 200px;
  height: 4px;
  background-color: #9932cc;
  display: block;
  position: absolute;
  bottom: 5px;
  transform: translate(-50%);
}

.mt-6 {
  margin-top: 120px !important;
}

/* Form */
textarea {
  resize: none;
}

/* arrow to top */

.mtop {
  cursor: pointer;
  background-color: #6183e6;
  color: #ffffff;
  border-radius: 50px;
  position: fixed;
  z-index: 1111;
  right: 5px;
  bottom: 5px;
  display: none;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
}

.mtop:hover {
  transition: 0.3s ease-in-out;
  color: #ff6600;
}

.mtop.active {
  display: block !important;
  transition: 0.3s ease-in-out;
}

.bi-arrow-up-short {
  font-size: 30px;
}
